pytz  
watchdog  
urllib3  
tzdata  
typing-extensions  
tqdm  
tornado  
tomli  
toml  
tenacity  
soupsieve  
sniffio  
smmap  
six  
shellingham  
rpds-py  
pyyaml  
python-dotenv  
pygments  
pyarrow  
protobuf  
primp  
pillow  
packaging  
numpy  
narwhals  
mdurl  
MarkupSafe  
lxml  
idna  
h11  
fsspec  
filelock  
docstring-parser  
distro  
click  
charset-normalizer  
certifi  
cachetools  
blinker  
attrs  
annotated-types  
uvicorn  
requests  
referencing  
python-dateutil  
pydantic-core  
markdown-it-py  
jinja2  
httpcore  
gitdb  
duckduckgo-search  
beautifulsoup4  
anyio  
starlette  
rich  
pydeck  
pydantic  
pandas  
jsonschema-specifications  
huggingface-hub  
httpx  
googlesearch-python  
gitpython  
typer  
pydantic-settings  
jsonschema  
groq  
fastapi  
phidata  
altair  
streamlit  
pycountry
